.container {
  padding: 2rem;
  bottom: 0rem;
  width: 100vw;
  display: flex;
  align-self: flex-end;
  bottom: 0px;
  height: 5rem;
  background-color: var(--background);
  align-items: center;
}

.container:hover {
  cursor: pointer;
}

.txt {
  color: var(--txt);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
