.container {
  display: flex;
  position: fixed;
  top: 0;
  padding: 2rem;
  background-color: var(--background);
  filter: blur(45%);
  height: 7rem;
  width: 100%;
  align-items: center;
  z-index: 1;
}
.logoContainer {
  flex: 1;
  justify-self: flex-start;
}

.logoContainer:hover {
  cursor: pointer;
}

.linksContainer {
  align-content: flex-end;
}

.visible {
  top: 0;
  transition: top 0.4s ease-out;
}

.hidden {
  top: -7rem;
  transition: top 0.4s ease-out;
}
