.container {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 2rem;
}

.title {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

.arrowContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.alignRight {
  justify-content: right;
}

.alignLeft {
  justify-content: left;
}

.alignCenter {
  justify-content: space-between;
}

.leftArrow {
  align-items: flex-start;
}

.leftArrow:hover {
  cursor: pointer;
}

.rightArrow {
  align-items: right;
}

.rightArrow:hover {
  cursor: pointer;
}

.contentContainer {
  width: 100%;
  padding: 2rem;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.imgWrapper {
  margin-top: 2rem;
}

.imgWrapper:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.hidden {
  display: none;
}

.priceContainer {
  padding: 2rem;
}

.crossout {
  text-decoration: line-through;
}

.discountedContainer {
  flex-direction: row;
  justify-content: space-evenly;
}

.discountedPrice {
  color: var(--discount);
  font-weight: 700;
}

.descriptionContainer {
  padding: 2rem;
  margin-top: 2rem;
}

.resellerContainer {
  margin: 2rem;
}

@media (max-width: 660px) {
  .container {
    margin-top: 4.5rem;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
  }
  .imgContainer {
    padding: 0.5rem;
  }
  .contentContainer {
    padding: 0.5rem;
  }
  .priceContainer {
    padding: 0.5rem;
  }
}
